+++
title = "Carteret Writers Documentation"
linkTitle = "CarteretDocs"

+++


{{< blocks/cover title="Welcome to the Documentation Project!" image_anchor="top" height="full" color="orange" >}}

<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "../docs" >}}">
		User Docs <i class="fas fa-user-pen ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "../docs">}}">
		Admin Docs <i class="fas fa-user-shield ml-2"></i>
	</a>
	<p class="lead mt-5">All the information you need - in one place!</p>
	{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
As the new website came online in 2022 and further plans were being made to expand its functionality, it was apparent that some "Single Source of Truth" was needed so everyone was on the same page.

For it to be effective it needed to be available and easy to use for everyone. To that end, we've divided the content into three major categories to provide information specific to individual user groups as follows:
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fas fa-users-gear" title="Administrators" url="https://docs.carteretwriters.org" %}}
The Administrators are primarily responsible for the content seen on the site such as blog posts, images, and events. 
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-user-pen" title="Members and Future Members" url="https://docs.carteretwriters.org" %}}
<!--We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!-->
<strong>This is probably you!</strong> This is information on how to join, how to set things up after you join, and solutions to issues those who came before you have had!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-user-astronaut" title="The Developer" url="https://docs.carteretwriters.org" %}}
Unless you are a developer or trying to become one, you won't find anything interesting here.
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
	<div class="mx-auto">
		<h1 class="text-center">Still not sure what to do? Click the button.</h1>
		<a class="btn btn-primary btn-lg btn-block" href="mailto:support@carteretwriters.org?subject= Help With Documentation">
			We're Here To Help <i class="fa fa-envelope ml-2"></i>
		</a>
	</div>
<!--{{< /blocks/section >}}

!! Make this a feed of posts from carteretwriters.org !!

{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}-->

<!--{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}-->
